html{
    height: 100%;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 10% 0 10%;
}

.back_ground{
    background-image: url("./img/agr.jpg"); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
  }
.header{
    width: 100%;
}

.add_new_lot_button{
    padding: 1% 0 1% 0 ;
    cursor: pointer;
    font-size: medium;
    margin-top: 0.5%;
    display: flex;
    align-self: stretch;
    justify-content: center;
}

@media only screen and (max-width: 750px) {
    .upper_row, .bottom_row{
        display: flex;
        flex-direction: column;
    }
    .bottom_row > input{
        margin: 1% 0 1% 0;
        width: 35%;
    }
}