html{
    height: 100%;
}
.main {
    /* height: 100%; */
    margin: 0;
    padding: 0;
}

.back_ground{
  background-image: url("./img/agr.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
}

.header {
    margin: 0 2% 0 2%;
    justify-content: space-evenly;
    align-items: center;
}

.background {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.header {
    margin: 0 10% 0 10%;
    background-color: white;
    border-radius: 10px;
}

.upper_row{
    display: flex;
    justify-content: space-between;
    border-bottom: 0.1vh solid lightgray;
}

.bottom_row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.upper_row > *{
    flex:1;
    border-right: 0.1vh solid lightgray;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown:hover .dropbtn {
    background-color: rgb(204, 203, 203);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown_option{
    cursor: pointer;
}

.project_dates{
    width: min-content;
    display: flex;
    align-items: center;
    margin-left: 14px;
}
.project_dates > input{
    margin-left: 1vw;
    height: 3vh;
}

.bottom_row > input{
    height: 3vh;
    width: 15%;
    margin-right: 1%;
}

.filter_button{
    cursor: pointer;
    align-self: stretch;
    margin: 1vh 14px 1vh 3%;
}

.bottom_row__inputs{
    display: flex;
    flex-direction: row;
    margin: 0 3% 0  3%;
    width: 75%;
}



.bottom_row__inputs > input{
}
/* not responsive filter tab */

@media only screen and (max-width: 750px) {

    .bottom_row__inputs{
        display: flex;
        flex-direction: column;
        margin: 0 3% 0 3%;
        width: 65%;
    }
   
}

/* listing */
.listing_view{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 10% 0 10%;
}

.lot_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 0.5%;
    border: 0.1vh solid lightgray;
    border-radius: 10px;
    background-color: white;
}


.lot_img{
    height: 10vh;
    width: 7vw;
    border-radius: 50%;
}

.lot_desc{
    display: flex;
    flex-direction: row;
}


.lot_desc > *{
    border-left: 0.1vh solid lightgray;
    padding: 1% 0 1% 1%;
}

.listing_button{
    cursor: pointer;
}

#showFilter{
    display: none;
}


@media only screen and (max-width: 750px) {
    .lot_container{
        flex-direction: column;
    }

    .lot_container > * {
        margin: 2% 0 2% 0;
    }

    .listing_button{
        display: flex;
        align-self: stretch;
        justify-content: center;
        padding: 2%;
        margin: 2% 2% 2% 2%;
        font-size: medium;
    }

    .lot_img{
        height: 7vh;
    }

    .profile_logo{
        bottom: 0;
    }
    .header{
        display: none;
    }
    .header>div{
        flex-direction: column;
    }
    .header input{
        width: 100%;
        height: 100%;
        margin-bottom: 1%;
    }
    #showFilter{
        display: flex;
        width: 80%;
        margin: 0.5% 0 0.5% 10%;
        align-items: center;
        justify-content: center;
        font-size: large;
    }
    a,p,button,input{
        font-size: large;
    }
}
/* footer */
#footer{
    width: 80%;
    margin: 1% 10% 1% 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navigation_button{
    font-size: larger;
    cursor: pointer;
}

footer{
    bottom: 0;
}

.profile_logo{
    height: 7%;
    position: fixed;
    margin-top: 1%;
    cursor: pointer;
}