.main{
/* padding: 0 10% 0 10%; */
}

.info_container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lot_container{
    margin: 0;
    width: 80%;
}

.lot_container:nth-of-type(2){
margin-top: 1%;
}

#investBtn{
cursor: pointer;
margin-left: 2%;
font-size: medium;
}

.pop_up_container {
    display: none;
    position: fixed; 
    z-index: 1;
    width: 100%;
    height: 100%; 
    padding-top: 20%; 
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
}

.pop_up {

background-color: white;
border: 1px solid #888;
width: 50%;
margin-left: 25%;
}

.close {
float: right;
color: gray;
font-weight: bold;
font-size: 30px;
}

.close:hover{
cursor: pointer;
color: #000;
}

.payment_method_container{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.payment_method_container > *{
    margin: 1%;
}

#payBtn{
    cursor: pointer;
    font-size: medium;
}

#goalCash{
    margin-left: 2%;
}

.option{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
@media only screen and (max-width: 750px) {
    p{
        font-size: large;
    }
}